.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 50px;
  cursor: pointer;
}

.mode_wrapper {
  cursor: pointer;
}

.app_name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
